<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>MySQLDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql:</param-value>
    </context-param>

    <!-- 設置session的失效時間，單位是分鐘，默認是30分鐘 -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <!-- 創建一個servlet實例 -->
    <servlet>
        <!-- 給servlet取一個名字，改名字需與servlet-mapping中的servlet-name一致 -->
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>com.jeff.servlet.FirstServlet</servlet-class>
    </servlet>

    <!-- 給servlet一個可以訪問的uri地址 -->
    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <!-- uri地址 -->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lifeServlet</servlet-name>
        <servlet-class>com.jeff.servlet.LifeServlet</servlet-class>
        <!-- 讓tomcat啟動時實例化servlet並調用init方法 -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>lifeServlet</servlet-name>
        <url-pattern>/life</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>com.jeff.servlet.ConfigTest01</servlet-class>
        <!-- 初始化參數 -->
        <init-param>
            <param-name>userName</param-name>
            <param-value>jeff</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>context1</servlet-name>
        <servlet-class>com.jeff.servlet.ContextTest01</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>context1</servlet-name>
        <url-pattern>/context1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>context2</servlet-name>
        <servlet-class>com.jeff.servlet.ContextTest02</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>context2</servlet-name>
        <!-- 精確路徑模式 -->
        <url-pattern>/context2</url-pattern>
        <!--
        <url-pattern>/servlet/context02</url-pattern>
        <url-pattern>/test/servlet/context02</url-pattern>
        -->
        <!-- 通配符路徑模式 -->
        <!--
        <url-pattern>/servlet/*</url-pattern>
        -->
        <!-- 全路徑模式 -->
        <!--
        會攔截所有資源(靜態資源+動態資源)
        <url-pattern>/*</url-pattern>
        只攔截靜態資源
        <url-pattern>/</url-pattern>
        -->
        <!-- 後綴名路徑模式 -->
        <url-pattern>*.do</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>simpleServlet</servlet-name>
        <servlet-class>com.jeff.servlet.SimpleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>simpleServlet</servlet-name>
        <url-pattern>/simpleServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>http1</servlet-name>
        <servlet-class>com.jeff.servlet.http.HttpTest01</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>http1</servlet-name>
        <url-pattern>/http1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestTest</servlet-name>
        <servlet-class>com.jeff.servlet.http.RequestTest01</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestTest</servlet-name>
        <url-pattern>/requestTest</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>responseTest</servlet-name>
        <servlet-class>com.jeff.servlet.http.ResponseTest01</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>responseTest</servlet-name>
        <url-pattern>/responseTest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>forward</servlet-name>
        <servlet-class>com.jeff.servlet.http.Forward01</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>forward</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>other</servlet-name>
        <servlet-class>com.jeff.servlet.http.Other</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>other</servlet-name>
        <url-pattern>/other</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>com.jeff.servlet.http.Redirect01</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>cookieReceive</servlet-name>
        <servlet-class>com.jeff.servlet.http.CookieReceive</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>cookieTest</servlet-name>
        <servlet-class>com.jeff.servlet.http.CookieTest01</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>cookieTest</servlet-name>
        <url-pattern>/cookieTest</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>cookieReceive</servlet-name>
        <url-pattern>/aaa/cookieReceive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lastVIsitServlet</servlet-name>
        <servlet-class>com.jeff.servlet.http.LastVIsitServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>lastVIsitServlet</servlet-name>
        <url-pattern>/lastVisitServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.jeff.servlet.http.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/`loginServlet`</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>doLoginServlet</servlet-name>
        <servlet-class>com.jeff.servlet.http.doLoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>doLoginServlet</servlet-name>
        <url-pattern>/doLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showBookServlet</servlet-name>
        <servlet-class>com.jeff.servlet.session.ShowBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showBookServlet</servlet-name>
        <url-pattern>/showBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addCartServlet</servlet-name>
        <servlet-class>com.jeff.servlet.session.AddCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addCartServlet</servlet-name>
        <url-pattern>/addCartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showCartServlet</servlet-name>
        <servlet-class>com.jeff.servlet.session.ShowCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showCartServlet</servlet-name>
        <url-pattern>/showCartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clearBookServlet</servlet-name>
        <servlet-class>com.jeff.servlet.session.ClearBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clearBookServlet</servlet-name>
        <url-pattern>/clearBookServlet</url-pattern>
    </servlet-mapping>

</web-app>